[package]
name = "remote-compose-expressions"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
description.workspace = true

[dependencies]
rand = "0.9.2"
rand_chacha = "0.9.0"
